@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
<hr />
<hr />

<div>
    <a href="/Department/index"> <h2>Department </h2></a>

</div>
<hr />
<hr />
<div>

    <a href="/Employee/index"> <h2>Employee </h2></a>

</div>